@import '~styles/context';
:local {
  .root {
    background-color: $white;
    color: $green;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: $nav-height-expanded 0 0 0;
    position: relative;
    width: 100%;
  }

  @media screen and (prefers-color-scheme: dark) {
    .root {
      background-color: $black;
    }
  }

  @media screen and (prefers-color-scheme: light) {
    .root {
      background-color: $white;
    }
  }
}
